@charset "utf-8";
//= require vendor/bootstrap
//= require vendor/bootstrap-theme
// Remove the "do_not_" from the following line for font-awesome:
//= do_not_require vendor/font-awesome
//= require_self

// Put styles here!

ol {
  li.pr {
    background-color: yellow;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
  }
}